<h2>Usuarios registrados</h2>
<ul id="users-list">
  <li *ngFor="let user of users; let i = index">
    <div class="li-container">
      <span>{{ user.email }}</span>
      <div class="li-btns-container">
        <button style="background: orange" (click)="editUser(user)">EDIT</button>
        <button style="background: #00448D" (click)="detailUser(user)">DETAILS</button>
      </div>
    </div>
    <div class="details" *ngIf="false">
      <span>Detalle de {{ user }}</span>
    </div>
  </li>
</ul>
