<h2>Usuarios registrados</h2>
<ul id="users-list">
  <li *ngFor="let user of users; let i = index">
    <div class="li-container">
      <span>{{ user.email }}</span>
      <div class="li-btns-container">
        <button style="background: orange" (click)="editUser(user, i)">EDIT</button>
        <button style="background: #00448D" (click)="detailUser(user, i)">DETAILS</button>
      </div>
    </div>
    <div class="details" *ngIf="details[i]">
      <span>Username: {{ user.email }}</span>
      <span>Nombre: {{ user.firstName }}</span>
      <span>Apellido: {{ user.lastName }}</span>
      <span>Teléfono: {{ user.phoneNumber }}</span>
      <span>Rol: {{ user.role }}</span>
    </div>
  </li>
</ul>
